<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldsz.clocksaver">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_clock_round"
        android:banner="@drawable/banner_main"
        android:icon="@mipmap/ic_clock"
        android:theme="@style/AppTheme" >

        <!-- Settings Application -->
        <activity
            android:name=".MainActivity"
            android:label="@string/UI_Label"
            android:banner="@drawable/banner_settings"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Dreaming Service -->
        <service
            android:name=".ServiceSaver"
            android:exported="true"
            android:label="ClockSaver"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.service.dreams.DreamService" />
            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/clocksaver_info" />
        </service>
        <!-- Notification Listener Service -->
        <service
            android:name=".NLService"
            android:label="NLService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>